.container {
    display: flex;
    flex-wrap: wrap;
}

.employee {
    display: flex;
    flex-wrap: wrap;
    max-width: 34em;
    border: 1px solid blue;
    justify-content: space-between;    
}
.equipment {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid royalblue;
    max-width: 15em;
    justify-content: space-between;    
}
.product {
    display: flex;
    flex-wrap: wrap;
    max-width: 34em;
    border: 1px solid blue;
    justify-content: space-between;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.split_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: absolute;
    right: 5px;
    
    padding: 10px;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    flex-direction: row;
    justify-content: space-evenly;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
}

